---
import Layout from "../Layout/Layout.astro"
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati facere voluptate quibusdam quas hic dolorem omnis esse voluptates ex corporis beatae nulla iure impedit architecto molestias aspernatur recusandae cupiditate, eum ipsa cum repellat dolorum reiciendis! Fugiat magni voluptatibus, soluta, molestias eaque assumenda molestiae excepturi quaerat aliquid accusantium dolorem! Voluptatem quod illum ea minus animi natus. Voluptatibus explicabo numquam deleniti quam qui at dignissimos optio nostrum nisi non, tempore beatae dolorem atque illum incidunt culpa eum! Enim animi consequatur excepturi magnam voluptas ratione libero debitis, esse, quas sapiente voluptates quidem possimus doloremque quisquam eveniet nihil saepe consectetur obcaecati perferendis! Quisquam, omnis?</p>
</Layout>
